form{
    width: 600px;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('../components/Inicio/images/fondo\ formulario.jpg');;
    position: absolute;
    inset: 0;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}
textarea{
    height: 500px;
    display: block;
}

button{
    width:100%;
}
label{
    color:#53C3D5;
    font-weight:bold;
}
button:hover{
    background-color:#316770;
}