.header{
  background-color:rgb(35, 121, 233);
  display: flex;
  color: white;
  padding: -100000px;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  border-radius: 50%;
  margin-right: 10px;
}
.botones{display: flex;
  align-items: center;}